<h1>Welcome to XMan!</h1>
<h5>Log in or <%= link_to t('register'), new_user_path, class: 'a-primary' %> to keep track of your expenses.</h5>
<br />
<%= form_with url: session_create_url, method: :post, local: true do |form| %>
  <div class="form-group" style="width: 250px">
    <%= form.text_field :login, required: true, class: 'form-control form-control-lg mb-2', placeholder: 'Login' %>
    <%= form.password_field :password, required: true, class: 'form-control form-control-lg mb-2', placeholder: 'Password' %>
    <%= form.submit t('login_form'), class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>


